extends layout

block content
	h1= title
	div.auth-wrap
		label(for="username") Username
		input#txtUsername(type="text", name="username", onkeyup="Account.LoginKeyUp(event)")
		button#btnLogin(onclick="Account.Login();") Login
	div.messenger
		ul.broadcast#messages
		ul#userList
		input#txtMessage(type="text", name="message", onkeyup="Messaging.KeyUp(event)")